*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
a{
    text-decoration: none;
    color: rgb(70, 63, 63);
}
i{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
img{
    cursor: pointer;
}